

body{
    background: url(../img/Home.jpg) no-repeat;
    background-size: cover;
 }
 
 .hadder{

    width: 100%;
    margin-top: 1em;

    height: 2em;
    text-align: right;
    padding-top: 1.5em;
    
}

.hadder a{

    color: white;
    text-decoration: none;
    padding: .5em;
    transition: .5s;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
   
}
.logo{
    position: absolute;
}
.logo img{
    width: 18em;
    margin-top: -3em;
}
.hadder a:hover{

background-color: white;
color: black;
transition: .5s;

}



  
  .blogs {
    padding: 20px;
    background-image: url(../img/imggg.jpg) no-repeat;
    background-size: cover;
      padding: 50px;
  }
  
  .blogs h2 {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #15123a;
  }

  
  
  .blog-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  
  .blog-category {
    flex: 1;
    margin-right: 100px;
    margin-bottom: 2px;
    margin-top: 1px;
    border: 1px solid #ccc;
    width: calc(25% - 40px);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 10.103);
    border-radius: 50px;
    padding: 20px;
    width: 200px; 
    height: 200px; 
    transition: 0.3s ease all;
  }
  .blog-category:hover{
    transform: scale(1.02);
  }
  
  .blog-category h1 {
    margin-bottom: 5px;
    font-size: 45px;
    margin-top: 2px;
    color: #332b8c;

  }
  
  .create-blog {
    margin-top: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  


  .create-blog button {
    padding: 10px 20px;
    background-color: #e5eaec;
    color: rgb(17, 5, 107);
    border: 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
    float: right;
    margin-right: 50px;
    width: 200px;
    height: 125px;
    transition: 0.3s ease all
    
  }
  
  .create-blog button:hover {
    background-color: #8fbadf;
    transform: scale(1.02);
  }
  